# ========================================
# Dependencies
node_modules/

# ========================================
# Build Output & Artifacts
.expo/
dist/
web-build/
build/
android/app/build/
ios/build/

# ========================================
# Native & Keystore Files
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ========================================
# Metro / Debugging
.metro-cache/
.metro-health-check*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================================
# OS Files
.DS_Store
Thumbs.db

# ========================================
#  Environment Variables
.env
.env*.local

# ========================================
#  TypeScript
*.tsbuildinfo
expo-env.d.ts

# ========================================
#  Coverage & Testing
coverage/
*.lcov

# ========================================
#  Git Merge Conflict
*.orig.*

# ========================================
#  IDEs / Editors
.vscode/
.idea/
*.swp

# ========================================
#  Kotlin / Android Studio
*.iml
.gradle/
local.properties
*.hprof
*.log
*.bak
